.spacer20{
    height: 20px;
    width: 100%;
}

.navigation-wrapper{
    height: 210px;
    background-color: #11122b;
    color: #cbcbcb;
    /* Flexbox container */
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 42 px;
    justify-items: center;
}

.navigation-wrapper > .banner-image{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-wrapper > .banner-image img{
    width: 100px;
    height: 100px;
}

.links-wrapper {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
}

.links-wrapper > .nav-link{
    width:33%;
    text-align: center;
    font-size: 1.5rem;
}

.links-wrapper > .nav-link a{
    font-family: "Ubuntu Condensed", sans-serif;
    color: #cbcbcb;
    text-decoration: none;
    transition: 0.5s;

}

.links-wrapper > .nav-link a:hover{
    color: #5ab3de;
    letter-spacing: 2px;
    font-size: 2rem;
}

body{
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

.page-container{
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.page-container > .content-wrapper{
    width: 90%;
}

.page-container > .content-wrapper p{
    letter-spacing: 1px;
    line-height: 30px;
    text-indent: 40px;
    text-align: justify;
}

.footer{
    height: 40px;
    background-color: #11122b;
    color: #cbcbcb;
    font-family: "Ubuntu Condensed", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -4px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer > .copyright-wrapper{
    margin-bottom: 9px;
    font-size: 0.7em;
    color: #858585;
}