.tableau{
    width: 80%;
}

#azul{
    color: #5ab3de;
    font-weight: 800;
}

#morado{
    color: #706dd2;
    font-weight: 800;
}

#gris{
    color: #cbcbcb;
    font-weight: 800;
}

.container-tableau{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.explicacion-wrapper{
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    justify-content: center;
}

p{
    letter-spacing: 1px;
    line-height: 30px;
    text-indent: 40px;
    text-align: justify;
}

.explicaciones-arriba{
    display: flex;
    flex-direction: column;
}

.explicacion{
    display: grid;
    grid-template-columns: 1fr 4.2fr;
    grid-gap: 30px;
}

.explicacion img{
    height: 65px;
    width: auto;
    object-fit: cover;
    align-self: center;
    justify-self: center;
}