.tweets-container{
    display: grid;
    grid-template-columns: 1fr;
}

#tweets{
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
}

#tweet{
    border: 1px solid #11122b;
    width: 50%;
    min-width: 100px;
    border-radius: 5px;
    padding: 10px;
    background-color: #5ab3de;
    color: white;
    margin: 10px;
}

#img{
    border: 1px solid white;
    width: 40px;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    background-color: white;
}

#user{
    padding: 14px;
    margin-left: 50px;
}

#icon{
    float: left;
}

#text{
    padding: 10px;
}

#created_at{
    text-align: center;
}

#refresh{
    width: 50%;
    text-align: right;
    height: 70px;
    transition: 0.5s;
}

#refresh :hover {
    cursor: pointer;
    transform: scale(1.65,1.65)
}